<section class="device">
    <section class="title">
        Pomo<span>gotchi</span>
    </section>
    
    <section class="timer">
        <div class="buttons switch">
            <button type="button" id="start-work" class="button active">Start Work</button>
            <button type="button" id="start-break" class="button">Have a break</button>
        </div>
    </section>
    
    <section class="screen">
        <div id="timer"></div>
        <div id="dog"></div>
        <div id="message"></div>
    </section>
    
    <section class="buttons" id="dog-buttons">
        <button type="button" id="dog-play" class="button">Play</button>
        <button type="button" id="dog-feed" class="button">Feed</button>
        <button type="button" id="dog-clean" class="button">Clean</button>
    </section>
</section>

<section class="about">
    <h1>Pomogotchi</h1>
    A pomodoro timer and a virtual pet in one! Pomo sleeps while you work and is ready to play when you have a break.
</section>

<footer>
    <p>
        Made with &hearts; for Ruby Rampage 2016 by Lilly Piri &amp; Nathan Hoad
    </p>
</footer>