<h1>Pomogotchi</h1>
<p>A pomodoro timer and a Tamagotchi in one!</p>

<div class="timer">
    <div id="dog">
        [DOG]
    </div>
    
    <div id="timer">
        [TIMER]
    </div>
    
    <div class="controls">
        <button type="button" id="start-timer">Start a timer</button>
        <button type="button" id="pause-timer">Pause timer</button>
        <button type="button" id="pat-dog">Pat dog</button>
    </div>
</div>