<section class="device">
    <section class="title">
        Pomo<span>gotchi</span>
    </section>

    <section class="timer">
        <div class="buttons switch">
            <button type="button" id="start-work" class="button active">Start Work</button>
            <button type="button" id="start-break" class="button">Have a break</button>
        </div>
    </section>

    <section class="screen">
        <div id="timer"></div>
        <div class="dog">
            <img id="dog" />

            <div style="display:none">
                <img src="/images/sleeping.gif" />
                <img src="/images/eating.gif" />
                <img src="/images/play.gif" />
                <img src="/images/poop.gif" />
                <img src="/images/sitting.gif" />
            </div>
        </div>
        <div id="message"></div>
    </section>

    <section class="buttons" id="dog-buttons">
        <button type="button" id="dog-play" class="button">Play</button>
        <button type="button" id="dog-feed" class="button">Feed</button>
        <button type="button" id="dog-clean" class="button">Clean</button>
    </section>
</section>

<section class="about">
    <h1>Pomogotchi</h1>
    Do you need to focus? Or do you need a distraction? Pomogotchi is both! A pomodoro timer and a virtual pet in one! Pomo sleeps while you work and is ready to play when you have a break.
</section>

<footer>
    <p>
        Made with <em>&hearts;</em> for 
        <a href="https://www.rubyrampage.com/entries/66-little-nebula">Ruby Rampage 2016</a> by 
        <a href="https://lillypiri.com">Lilly Piri</a>
        &amp; 
        <a href="https://nathanhoad.net">Nathan Hoad</a>
    </p>
</footer>
